{% extends "bheader.html" %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'games.css' %}">
{% endblock %}
{% block content %}

<div class="everythingCont">
  <div class="gamesCont">
    <form id="weeks" class="weeks">
        {% csrf_token %}
        <select name="week" id="week" class="weekmenu">
            <option selected="selected" disabled>Weeks</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
    </form>
    <div id="gamesList"></div>
    <div class="homeInfo"></div>
    <div class="awayInfo"></div>
  </div>
 
  <div id="allGame" class="allGame" data-allgame="{{ allGame|escapejs }}">
    {% if isgame == "no" %}
    <p class="nogames">No games playing today, check back in tomorrow!</p>
    {% else %}
    <div class="boardPlay">
      <p id="nowplay" class="currentPlay"></p>
    </div>
    <div class="boardPeriod">
      <p id="currentperiod" class="period"></p>
    </div>
    <div class="boardClock">
      <p id="gameclock" class="gameclock"></p>
    </div>
    <div class="boardHome">
      <p id="homepoints" class="homepoints"></p>
    </div>
    <div class="boardAway">
      <p id="awaypoints" class="awaypoints"></p>
    </div>
    {% endif %}
  </div>
  <div>{{ gameID }}</div>
</div>
{% include "tankbar.html" %}
<script type="text/javascript" src="{% static 'games.js' %}"></script>
{% endblock %}
